.margin-bottom-largest {
  margin-bottom: 5.6rem !important; }

.margin-bottom-large-44px {
  margin-bottom: 4.4rem !important; }

.margin-bottom-large {
  margin-bottom: 3.2rem !important; }

.margin-bottom-medium {
  margin-bottom: 2.4rem !important; }

.margin-bottom-small {
  margin-bottom: 1.2rem !important; }

@font-face {
  font-family: "TTNorms";
  src: url("../../assets/fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "SFProDisplay";
  src: url("../../assets/fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700; }

.heading-1 {
  font-size: 3.2rem;
  line-height: 1.3; }

.heading-2 {
  font-size: 2.4rem;
  line-height: 1.3; }

.heading-3 {
  font-size: 1.8rem;
  line-height: 1.5; }
  .heading-3--medium {
    font-weight: 500; }
  .heading-3--regular {
    font-weight: 400; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #12141D; }

.layout-container {
  max-width: 144rem;
  margin: 0 auto;
  display: flex; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer; }

.button-round, .button-round:link, .button-round:visited {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1.5px solid #3A3C45;
  transition: all 250ms ease; }
  .button-round svg, .button-round:link svg, .button-round:visited svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor; }
  .button-round:hover, .button-round:link:hover, .button-round:visited:hover {
    transform: translateY(-3px) scale(1.05); }
  .button-round:active, .button-round:link:active, .button-round:visited:active {
    transform: translateY(-1px); }

.button-large, .button-large:link, .button-large:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF715B;
  padding: 1.3rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
  transition: background-color 500ms; }

.button-large::after {
  content: '';
  height: 80px;
  width: 20px;
  position: absolute;
  top: -15px;
  left: -55px;
  transform: skewX(-45deg);
  transition: transform 0.2s ease;
  pointer-events: none; }

.button-large:hover {
  transition: background-color 250ms; }
  .button-large:hover::after {
    transform: translateX(300px) skewX(-45deg); }

.button-large--primary {
  background-color: #FF715B;
  color: #FFF; }

.button-large--primary:hover {
  background-color: #ff5b42; }

.button-large--primary::after {
  background-color: #FFF; }

.button-large--secondary {
  color: #FF715B; }

.button-large--secondary:hover {
  background-color: #ff5b42;
  color: #FFF; }

.button-large--secondary::after {
  background-color: #FFF; }

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center; }
  .close-btn svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: #8B929A;
    transition: all 250ms; }
  .close-btn:hover svg {
    fill: #12141D;
    transform: scale(1.1); }
  .close-btn:active svg {
    transform: scale(1.02); }

.artists-list {
  display: flex;
  gap: 2rem; }
  .artists-list__item {
    flex-basis: 29.6rem;
    overflow: hidden; }
    .artists-list__item:hover {
      box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.1); }
      .artists-list__item:hover img {
        transform: scale(1.1); }
  .artists-list__link:link, .artists-list__link:visited {
    color: inherit; }
  .artists-list__logo {
    background-color: #F6F8F9;
    width: 29.6rem;
    height: 29.6rem;
    margin-bottom: 1.6rem;
    overflow: hidden; }
  .artists-list__logo-img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 250ms; }
  .artists-list__description span {
    line-height: 1.5;
    display: block; }
  .artists-list__name {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.4rem; }
  .artists-list__genre {
    font-size: 1.2rem;
    color: #697077; }
  .artists-list.artists-list--small .artists-list__item {
    flex-basis: 13.8rem; }
  .artists-list.artists-list--small .artists-list__logo {
    width: 13.8rem;
    height: 13.8rem;
    margin-bottom: 1.2rem; }
  .artists-list.artists-list-round-items {
    gap: 1.6rem; }
    .artists-list.artists-list-round-items .artists-list__item {
      flex-basis: 10.2rem;
      transition: all 250ms; }
      .artists-list.artists-list-round-items .artists-list__item:hover {
        transform: translateY(-4px);
        box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.1);
        border-radius: 1rem; }
        .artists-list.artists-list-round-items .artists-list__item:hover img {
          transform: scale(1); }
    .artists-list.artists-list-round-items .artists-list__logo {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      margin-bottom: 1.2rem; }
    .artists-list.artists-list-round-items .artists-list__description span {
      text-align: center; }
  .artists-list.artists-list-round-items--vertical {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem; }
    .artists-list.artists-list-round-items--vertical .artists-list__item {
      flex-basis: auto;
      position: relative; }
      .artists-list.artists-list-round-items--vertical .artists-list__item::after {
        position: absolute;
        bottom: 0;
        left: -100%;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #12141D;
        transition: transform 500ms; }
    .artists-list.artists-list-round-items--vertical .artists-list__item:hover {
      transform: translateY(0);
      box-shadow: none; }
      .artists-list.artists-list-round-items--vertical .artists-list__item:hover img {
        transform: scale(1); }
      .artists-list.artists-list-round-items--vertical .artists-list__item:hover::after {
        transform: translateX(100%);
        transition: transform 1000ms; }
    .artists-list.artists-list-round-items--vertical .artists-list__link:link,
    .artists-list.artists-list-round-items--vertical .artists-list__link:visited {
      display: flex; }
    .artists-list.artists-list-round-items--vertical .artists-list__logo {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      overflow: hidden;
      margin: 0;
      margin-right: 1.6rem;
      background-color: #EFF0F2; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #12141D; }
  .overlay__content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent; }

.auth-form__label {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500; }

.auth-form__input {
  width: 100%;
  display: block;
  margin-top: 1.2rem;
  padding: 1.3rem 0 1.3rem 1.6rem;
  border: none;
  border: 1px solid #D4DAE1;
  border-radius: 6px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  color: #8B929A; }

.auth-form__input:focus {
  outline: 3px solid #FF715B; }

.auth-form li:not(:last-child) {
  margin-bottom: 3.2rem; }

.link {
  display: inline-block;
  position: relative;
  transition: color 500ms; }
  .link::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #38F094;
    opacity: 0;
    transition: all 500ms; }
  .link:hover {
    color: #38F094; }
    .link:hover::after {
      transform: translateY(-10px);
      opacity: 1; }

.month-of-year-select {
  border: 1px solid #D4DAE1;
  border-radius: 6px;
  width: 20rem;
  height: 4rem;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }
  .month-of-year-select__button {
    color: #8B929A;
    display: flex;
    justify-content: center;
    align-items: center; }
  .month-of-year-select__button:hover {
    color: #12141D;
    transform: scale(1.1); }
  .month-of-year-select__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
    transition: all 250ms; }
  .month-of-year-select__date {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 500; }

.content-container {
  flex-basis: 101.6rem;
  padding: 2.8rem 4.4rem 0; }

.fav-item-page__container {
  flex-basis: 136rem;
  padding: 3.2rem 4.4rem 5.3rem;
  border: 1px solid black; }

.flex-container {
  padding-top: 5.6rem;
  padding-left: 3.2rem;
  display: flex;
  gap: 8rem; }

.calendar-page {
  padding: 3.2rem 6.4rem 2.4rem 4.4rem;
  flex-grow: 1; }
  .calendar-page__header {
    margin-bottom: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.section-calendar__head-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-bottom: 1.2rem; }

.section-calendar__head-item {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFF0F2;
  border-radius: 8px;
  padding: 1.2rem 0; }

.section-calendar__days-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px; }

.section-calendar__days-item {
  height: 11vw;
  max-height: 16.4rem;
  border: 1px solid #D4DAE1;
  border-radius: 6px;
  position: relative;
  padding-top: 1.6rem;
  padding-left: 1.6rem;
  cursor: pointer;
  transition: all 250ms; }
  .section-calendar__days-item:nth-last-child(-n + 3) h3, .section-calendar__days-item:nth-child(-n + 2) h3 {
    color: #8B929A; }
  @media screen and (min-width: 1440px) {
    .section-calendar__days-item {
      height: 16.4rem; } }
  .section-calendar__days-item:hover {
    background-color: #EFF0F2; }
    .section-calendar__days-item:hover:after {
      opacity: 0.5; }

.section-calendar__days-item::after {
  content: '';
  width: 14%;
  height: 14%;
  background-image: url("../../img/Calendar Plus.svg");
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
  transition: opacity 250ms; }

.section-calendar .note {
  height: 40%;
  max-height: 6rem;
  width: 90%;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FF715B;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px; }
  .section-calendar .note__name {
    font-weight: 500; }
  .section-calendar .note span {
    color: #FFF;
    font-size: 1.3rem;
    line-height: 1.4; }
  .section-calendar .note--grey {
    background-color: transparent; }
    .section-calendar .note--grey .note__name {
      color: #697077; }
    .section-calendar .note--grey .note__time {
      color: #697077; }
  .section-calendar .note-multiply {
    height: auto;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent; }
    .section-calendar .note-multiply__item {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 3px 8px;
      width: 100%;
      background-color: #FF715B;
      border-radius: 6px; }
    .section-calendar .note-multiply__separator {
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #FFF;
      margin-right: 8px;
      margin-left: 4px; }

.sidebar {
  min-height: 100vh;
  background-color: #12141D;
  padding: 3.2rem 2rem 2.4rem;
  display: flex;
  flex-direction: column; }
  .sidebar__button-home {
    text-transform: uppercase;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.3;
    color: #38F094;
    -webkit-text-stroke: 1px #3A3C45; }
    .sidebar__button-home:hover, .sidebar__button-home:active {
      color: #12141D;
      background-color: #38F094; }
  .sidebar__navigation {
    flex-grow: 1;
    padding-top: 2.4rem;
    border-top: 1px solid #3A3C45;
    margin-top: 2.4rem; }
    .sidebar__navigation-list {
      display: flex;
      flex-direction: column;
      gap: 2.4rem; }
      .sidebar__navigation-list li:nth-child(4) {
        position: relative; }
        .sidebar__navigation-list li:nth-child(4)::after {
          content: '1';
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'TTNorms', sans-serif;
          font-size: 1rem;
          line-height: 1.2;
          font-weight: 500;
          width: 1.4rem;
          height: 1.4rem;
          color: #FFF;
          background-color: #FF2200;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          right: 0; }
  .sidebar__link {
    color: #8B929A; }
    .sidebar__link:hover, .sidebar__link:active {
      color: #12141D;
      background-color: #38F094; }
    .sidebar__link--active,
    .sidebar__link--active a:link,
    .sidebar__link--active a:visited {
      background-color: #38F094;
      color: #12141D; }
  .sidebar__menu-item:not(:first-child) {
    margin-top: 2.4rem; }
  .sidebar__menu-item:last-child {
    margin-top: 4.8rem;
    position: relative; }
    .sidebar__menu-item:last-child::before {
      content: '';
      height: 1px;
      width: 100%;
      background-color: #3A3C45;
      position: absolute;
      top: -2.4rem;
      left: 0; }

.auth-page {
  max-width: 56rem;
  padding: 5.6rem 8rem;
  border-radius: 1.6rem;
  background-color: #FFF; }
  .auth-page__btn-list {
    display: flex;
    align-items: center;
    gap: 3.2rem; }
    .auth-page__btn-list li {
      width: 20rem; }
  .auth-page__link {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 500;
    padding: 5px;
    color: #FF715B; }
  .auth-page__close-btn-wrapper {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem; }

.header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  gap: 6.8rem;
  border-bottom: 1px solid #D4DAE1;
  padding-bottom: 2.2rem; }
  .header svg {
    width: 2.4rem;
    height: 2.4rem; }
  .header__form-list {
    display: flex;
    gap: 2rem; }
  .header__form-item {
    position: relative; }
  .header__input {
    width: 100%;
    border: none;
    padding: 1.3rem 0 1.3rem 1.6rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    color: #8B929A;
    border: 1px solid #D4DAE1;
    border-radius: 6px; }
  .header__form-btn {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
    color: #8B929A;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms; }
    .header__form-btn:hover {
      color: #12141D; }
      .header__form-btn:hover svg {
        transform: scale(1.05); }
  .header__form-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
    transition: all 250ms; }

.section-title {
  height: 28.4rem;
  background-image: url("../img/artists/title-wallpaper/artist-main-wallpaper-x1.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 28.4rem 19.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .section-title {
      background-image: url("../img/artists/title-wallpaper/artist-main-wallpaper-x2.png"); } }
  .section-title__text-wrapper {
    width: 62%; }
  .section-title__description {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    line-height: 1.5; }

.section-popular {
  padding-bottom: 5.7rem; }

.favorite-artists {
  padding: 4rem 3.2rem 0;
  background-color: #F7F8F9; }
  .favorite-artists__header {
    height: 5.8rem;
    display: flex;
    gap: 4.8rem;
    padding-bottom: 2.6rem;
    align-items: flex-end;
    border-bottom: 1px solid #D4DAE1; }
  .favorite-artists__link:link, .favorite-artists__link:visited {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 500;
    color: #697077;
    position: relative;
    transition: all 250ms; }
    .favorite-artists__link:link::after, .favorite-artists__link:visited::after {
      position: absolute;
      bottom: -10px;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background-color: #38F094;
      opacity: 0;
      transition: all 500ms; }
    .favorite-artists__link:link:hover, .favorite-artists__link:visited:hover {
      color: #38F094;
      transform: translateY(-3px); }
      .favorite-artists__link:link:hover::after, .favorite-artists__link:visited:hover::after {
        transform: translateY(-10px);
        opacity: 1; }

.fav-item-header {
  flex-basis: auto;
  justify-content: flex-start;
  gap: 1.2rem;
  align-items: center; }
  .fav-item-header__btn-wrapper {
    width: 2.4rem;
    height: 2.4rem; }
  .fav-item-header__checkbox {
    display: none; }
  .fav-item-header__checkbox:checked ~ .fav-item-header__button .fav-item-header__icon--selected {
    opacity: 1; }
  .fav-item-header__checkbox:checked ~ .fav-item-header__button .fav-item-header__icon {
    opacity: 0; }
  .fav-item-header__button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s; }
    .fav-item-header__button:hover {
      transform: translateY(-2px) scale(1.01); }
      .fav-item-header__button:hover .fav-item-header__icon {
        fill: orange; }
    .fav-item-header__button:active {
      transform: translateY(-1px); }
  .fav-item-header__icon {
    transition: all 250ms;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .fav-item-header__icon--selected {
    opacity: 0;
    transition: all 250ms;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }

.fav-item-hero {
  border: 1px solid red;
  width: 100%;
  height: 30.6rem;
  background-image: url("../../img/artist-page/hero-wallpapers/hero-wallpaper-x1-min.png");
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  background-size: contain; }
  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .fav-item-hero {
      background-image: url("../../img/artist-page/hero-wallpapers/hero-wallpaper-x2-min.png"); } }

.gallery {
  max-width: 36rem; }
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1px; }
  .gallery__item {
    flex-basis: 11.9rem;
    height: auto;
    cursor: pointer;
    overflow: hidden; }
    .gallery__item:hover img {
      transform: scale(1.2); }
  .gallery__img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 250ms; }
  .gallery__title {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    margin-bottom: 2rem; }
  .gallery__title-img-wrapper {
    width: 4.8rem;
    height: 4.8rem; }
  .gallery__img {
    width: 100%;
    height: auto;
    display: block; }
  .gallery__title-text {
    margin-left: 1rem;
    margin-right: 0.8rem;
    font-family: 'SFProDisplay';
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 700;
    color: #000; }
  .gallery__title-icon {
    width: 1.7rem;
    height: 1.7rem; }

.fav-item-about__text {
  font-size: 1.4rem;
  line-height: 1.5;
  max-width: 80rem;
  margin-top: 1.6rem; }

.fav-item-about__navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
  margin-top: 2.8rem;
  margin-bottom: 5.6rem; }
  @media screen and (min-width: 1440px) {
    .fav-item-about__navigation {
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }

.fav-item-about__btn-list {
  display: flex;
  width: 100%;
  max-width: 46.5rem;
  gap: 2.4rem; }
  .fav-item-about__btn-list li {
    flex-basis: 50%; }

.fav-item-about__links-list {
  display: flex;
  gap: 2.4rem; }

.fav-item-about__link {
  color: #8B929A;
  transition: color 250ms;
  display: block;
  position: relative; }
  .fav-item-about__link-icon {
    fill: currentColor;
    width: 2.4rem;
    height: 2.4rem;
    position: relative;
    z-index: 10; }
  .fav-item-about__link::after {
    content: '';
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background-color: #f3f3f4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 250ms;
    z-index: 9; }

.fav-item-about__link:hover {
  color: #595f66; }
  .fav-item-about__link:hover::after {
    opacity: 1; }

.fav-item-about__details-list {
  max-width: 36rem;
  margin-top: 3.2rem; }
  .fav-item-about__details-list li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.3rem;
    border-bottom: 1px solid #D4DAE1; }
  .fav-item-about__details-list li:not(:last-child) {
    margin-bottom: 1.2rem; }
  .fav-item-about__details-list span {
    font-size: 1.4rem;
    line-height: 1.5; }

.fav-item-about__details-title {
  font-weight: 600; }
