$color-black: #12141D;
$color-coral: #FF715B;
$color-white: #FFF;
$color-red: #FF2200;
$color-orange: #FB4F34;
$color-green-light: #38F094;
$color-green-dark: #12AF6D;

$color-grey-1: #697077;
$color-grey-2: #8B929A;
$color-grey-dark: #3A3C45;

$color-grey-light-1: #D4DAE1;
$color-grey-light-2: #EFF0F2;
$color-grey-light-3: #F7F8F9;


$primary-font: 'Inter', sans-serif;