.link,
.link:visited,
.link:link {
    display: inline-block;
    position: relative;
    transition: color 500ms;

    &::after {
        position: absolute;
        bottom: -10px;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $color-green-light;
        opacity: 0;
        transition: all 500ms;
    }

    &:hover {
        color: $color-green-light;

        &::after {
            transform: translateY(-10px);
            opacity: 1;
        }
    }
}