.month-of-year-select {
    border: 1px solid $color-grey-light-1;
    border-radius: 6px;
    width: 20rem;
    height: 4rem;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    

    &__button {
        color: $color-grey-2;
        @include flex-center;
    }

    &__button:hover {
        color: $color-black;
        transform: scale(1.1);
    }

    &__icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: currentColor;
        transition: all 250ms;
    }

    &__date {
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 500;

    }
}