
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem === 10px
    @media screen and (max-width: 1439px) {
        font-size: 50%;
    }
    @media screen and (max-width: 1150px) {
        font-size: 50%;
    }
    @media screen and (max-width: 899px) {
        font-size: 35%;
    }
    @media screen and (max-width: 664px) {
        font-size: 15%;
    }
}

body {
    font-family: $primary-font;
    font-weight: 400;
    color: $color-black;
}
.layout-container {
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
    height: 100%;

}


ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
