
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem === 10px
}

body {
    font-family: $primary-font;
    font-weight: 400;
    color: $color-black;
}
.layout-container {
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
}


ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
