.fav-item-content-container {
    flex-basis: 136rem;
    padding: 3.2rem 4.4rem 5.3rem;
    border: 1px solid black;
}
.flex-container {
    padding-top: 5.6rem;
    padding-left: 3.2rem;
    display: flex;
    gap: 8rem;
}