.fav-item-page__container {
    width: 100%;
    
    padding: 3.2rem 4.4rem 5.3rem;
    border: 1px solid black;

    @media screen and (min-width: 1440px) {
        flex-basis: 136rem;
    }
}
.flex-container {
    padding-top: 5.6rem;
    padding-left: 3.2rem;
    display: flex;
    gap: 8rem;

    @media screen and (max-width: 450px) {
        flex-direction: column;
    }
}