.section-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 3.2rem;
    &__list {
        margin-bottom: 3.2rem;
    }
    &__item {
        display: flex;
        gap: 1.2rem;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }
    &__item-icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: $color-grey-2
    }
    &__item-text {
        font-size: 1.4rem;
        line-height: 1.5;
    }
    &__button-set {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
    & .button-large.button-large--secondary {
        color: $color-coral;
        &:hover {
            color: $color-white;
        }
    }
    & .button-large.button-large--primary {
        color: $color-white;
    }
}
